<div id="<%= dom_id paper %>">
  <p>
    <strong>Title:</strong>
    <%= paper.title %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= paper.venue %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= paper.year %>
  </p>
  <h3>
    Authors
  </h3>
  <% paper.authors.each do |author| %>
    <%= link_to(author.name, authors_path(author)) %>
  <% end %>

</div>
